* {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

:root {
  --color-primary-intro: hsl(217, 28%, 15%);
  --color-primary-main: hsl(218, 28%, 13%);
  --color-primary-testimonials: hsl(219, 30%, 18%);
  --color-primary-footer: hsl(216, 53%, 9%);
  --color-accent-cyan: hsl(176, 68%, 64%);
  --color-accent-blue: hsl(198, 60%, 50%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(0, 2%, 91%); }

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/raleway/Raleway-Regular.ttf");
  format: "true-type"; }
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url("../fonts/raleway/Raleway-SemiBold.ttf");
  format: "true-type"; }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
  format: "true-type"; }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
  format: "true-type"; }
body {
  background-color: var(--color-primary-main); }

a {
  font-family: 'Raleway-Regular';
  color: var(--color-light-grey);
  text-decoration: none;
  font-size: .75rem; }

h1 {
  font-family: 'Raleway-SemiBold';
  color: var(--color-neutral-white);
  font-size: 1.7rem; }

h3 {
  font-family: 'Raleway-SemiBold';
  color: var(--color-neutral-white);
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: .1rem;
  width: 85%;
  margin: 2rem 12% 1rem 12%; }

h6 {
  font-family: 'OpenSans-Regular';
  color: var(--color-light-grey);
  font-size: .5rem;
  text-align: center;
  letter-spacing: .1rem; }

p {
  font-family: 'OpenSans-Regular';
  color: var(--color-neutral-white);
  font-size: 1.1rem; }

header {
  width: 90%; }

@media only screen and (max-width: 31.25em) {
  .header-image {
    width: 80%;
    margin: 2rem auto;
    padding: 0 0 0 .5rem; } }

@media only screen and (max-width: 31.25em) {
  .header-text {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 31.25em) {
  .header-text h1 {
    text-align: center;
    line-height: 2.5rem;
    margin: 2rem auto; } }

@media only screen and (max-width: 31.25em) {
  .header-text p {
    text-align: center;
    line-height: 1.75rem;
    margin: 0 2% 2rem 4%;
    width: 95%; } }

.features {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 31.25em) {
    .features {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto; } }

.features-set-1 {
  text-align: center; }

.features-set-2 {
  text-align: center; }

@media only screen and (max-width: 31.25em) {
  .image-wrapper img {
    width: 20%;
    padding: 0 auto; } }

.point-2,
.point-4 {
  margin: 7rem 0 6rem 0; }

.point-3 {
  margin: 2rem 0 6rem 0; }

@media only screen and (max-width: 31.25em) {
  .access-info h1 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.5rem; } }

@media only screen and (max-width: 31.25em) {
  .access p {
    line-height: 1.65rem;
    margin: 0 7% 1rem 7%;
    width: 88%; } }

@media only screen and (max-width: 31.25em) {
  .access-image {
    width: 90%;
    margin: 5rem 5% 0 5%;
    padding: 0 0 0 .5rem; } }

@media only screen and (max-width: 31.25em) {
  span a {
    width: 15%;
    margin: 2rem 0 2rem 8%;
    color: var(--color-accent-blue);
    border-bottom: 2px solid currentColor;
    padding-bottom: 8px; } }

.icon {
  margin: 1rem 0 0 .5rem; }

.link {
  display: inline-block;
  width: 100%; }

.link img {
  width: 2%; }
  @media only screen and (max-width: 31.25em) {
    .link img {
      width: 5%; } }

.call-to-action {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.75rem;
  background-color: var(--color-primary-main);
  padding: 1.75rem; }

.main-nav {
  display: flex;
  flex-direction: row; }

.main-nav li {
  display: inline-block;
  margin: 0 0 0 12rem; }
  @media only screen and (max-width: 31.25em) {
    .main-nav li {
      margin: 2rem 0 2rem 1rem; } }

.header-logo {
  margin: 1.25rem 0 0 1.5rem; }

.fylo-logo {
  width: 60%;
  margin: 1rem 0; }

.button {
  border: none;
  background-color: var(--color-accent-blue);
  color: var(--color-neutral-white);
  cursor: pointer;
  font-size: .9rem;
  margin: 1.5rem 35rem;
  padding: 1rem 1.5rem;
  width: 18%;
  display: inline-block;
  border-radius: 10rem; }
  @media only screen and (max-width: 31.25em) {
    .button {
      margin: 1rem 16% 9rem 16%;
      padding: 1.25rem 2rem;
      width: 65%;
      border-radius: 10rem; } }

@media only screen and (max-width: 31.25em) {
  .testimonials {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 12rem auto; } }

@media only screen and (max-width: 31.25em) {
  .testimonials p {
    font-size: .8rem;
    line-height: 1.45rem;
    margin-bottom: 1rem;
    width: 100%;
    color: var(--color-light-grey); } }

@media only screen and (max-width: 31.25em) {
  .testimonial-1,
  .testimonial-2,
  .testimonial-3 {
    width: 78%;
    background-color: var(--color-primary-testimonials);
    margin: 1rem auto;
    padding: 1.75rem; } }

@media only screen and (max-width: 31.25em) {
  .reviewer-1,
  .reviewer-2,
  .reviewer-3 {
    display: flex;
    flex-direction: row; } }

@media only screen and (max-width: 31.25em) {
  .testimonial-1 img,
  .testimonial-2 img,
  .testimonial-3 img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: .5rem .6rem 0 0; } }

@media only screen and (max-width: 31.25em) {
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-top: .25rem; } }

@media only screen and (max-width: 31.25em) {
  .reviewer-title h6 {
    margin-top: -.9rem; } }

footer {
  background-color: var(--color-primary-footer); }
  @media only screen and (max-width: 31.25em) {
    footer {
      height: 60rem;
      padding: 2rem; } }

@media only screen and (max-width: 31.25em) {
  .location-pin-icon {
    width: 5%; } }

@media only screen and (max-width: 31.25em) {
  .footer-text {
    margin: 2rem 5%;
    line-height: 2rem; } }

@media only screen and (max-width: 31.25em) {
  .footer-text p {
    width: 95%;
    font-size: 1.25rem;
    margin-left: 2.5rem;
    margin-top: -2.5rem;
    color: var(--color-light-grey); } }

@media only screen and (max-width: 31.25em) {
  .contact-info {
    font-family: 'OpenSans-Regular';
    width: 60%;
    line-height: 3rem;
    margin-top: 1rem;
    color: var(--color-light-grey); } }

@media only screen and (max-width: 31.25em) {
  .telephone-icon,
  .email-icon {
    margin-right: 1rem; } }

.footer-links {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 31.25em) {
    .footer-links {
      flex-direction: column; } }

.footer-links a {
  text-decoration: none;
  font-family: 'OpenSans-Regular';
  font-size: 1.25rem;
  color: var(--color-light-grey);
  line-height: 3rem;
  margin: 5rem 0 5rem 1rem; }

.footer-links li {
  list-style-type: none; }

.footer-links-1 {
  margin: 3rem 0 3rem 0; }

.attribution {
  width: 70%;
  margin: 5rem auto;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
